body {
  background: url('../images/about.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}

.main__inside {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
#main.more .main__inside { overflow: visible; }
#main.more .synopsis__inside,
#main.more .synopsis {
  display: block;
  z-index: 4;
}

.intro {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: white;
  float: left;
  width: 50%;
}
.intro__component {
  margin-bottom: 30px;
  opacity: 0;
}
.intro__component h2 {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
}
.intro__component p {
  font-size: 20px;
  line-height: 1.2;
}
.intro__synopsis__more {
  opacity: 0.8;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
  color: red;
}
.intro__component.intro__director { animation: 1s fadeInUp 0s both; }
.intro__component.intro__date { animation: 1s fadeInUp 0.3s both; }
.intro__component.intro__actor { animation: 1s fadeInUp 0.6s both; }
.intro__component.intro__synopsis { animation: 1s fadeInUp 0.9s both; }

.synopsis {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  width: 100%;
  height: auto;
  display: none;
}

.synopsis__inside {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: white;
  display: none;
}
.synopsis__inside h2 {
  font-size: 50px;
  padding: 20px 0;
}
.synopsis__inside p {
  font-size: 20px;
  line-height: 2;
}
.synopsis__inside span {
  position: absolute;
  right: 5%;
  top: 0;
  font-size: 100px;
  z-index: 5;
  cursor: pointer;
}

.gallery {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 50%;
  float: right;
  text-align: center;
  opacity: 0;
  animation: 1s fadeInUpTransform 1.2s both;
}
.gallery__item {
  display: inline-block;
  width: 100%;
  padding-top: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: filter 0.5s;
  border-radius: 5px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.gallery__item:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
.gallery__item--1 { background-image: url('../images/gallery1.jpg'); }
.gallery__item--2 { background-image: url('../images/gallery2.jpg'); }
.gallery__item--3 { background-image: url('../images/gallery3.jpg'); }
.gallery__item--4 { background-image: url('../images/gallery4.jpg'); }
.gallery__invisible { display: none; }

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpTransform {
  from {
    opacity: 0;
    top: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }
}