#main {
  position: relative;
  height: 100vh;
  background: url('../images/about.jpg') no-repeat center;
  background-size: cover;
  overflow: hidden;
}
#main:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}
#main.overlay { overflow: visible; }
#main.overlay .real-synopsis,
#main.overlay .real-synopsis-wrapper {
  display: block;
  z-index: 4;
}

.intro {
  position: absolute;
  z-index: 2;
  left: 5%;
  top: 15%;
  color: white;
  width: 600px;
}
.intro__component {
  margin-bottom: 30px;
  opacity: 0;
}
.intro__component h2 {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
}
.intro__component p {
  font-size: 20px;
  line-height: 1.2;
}
.intro__synopsis__more {
  opacity: 0.8;
  cursor: pointer;
  font-style: italic;
}
.intro__component.intro__director { animation: 1s fadeInUp 0s both; }
.intro__component.intro__date { animation: 1s fadeInUp 0.3s both; }
.intro__component.intro__actor { animation: 1s fadeInUp 0.6s both; }
.intro__component.intro__synopsis { animation: 1s fadeInUp 0.9s both; }

.real-synopsis-wrapper {
  position: relative;
  background-color: black;
  width: 100%;
  height: auto;
  display: none;
}

.real-synopsis {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: white;
  display: none;
}
.real-synopsis h2 {
  font-size: 50px;
  padding: 20px 0;
}
.real-synopsis p {
  font-size: 20px;
  line-height: 2;
}
.real-synopsis span {
  position: absolute;
  right: 5%;
  top: 0;
  font-size: 100px;
  z-index: 5;
  cursor: pointer;
}

.gallery {
  position: absolute;
  z-index: 2;
  right: 5%;
  opacity: 0;
  animation: 1s fadeInUpTransform 1.2s both;
}
.gallery__item {
  display: inline-block;
  width: 100%;
  padding-top: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: filter 0.5s;
  border-radius: 5px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.gallery__item.active {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
.gallery__item--1 { background-image: url('../images/gallery1.jpg'); }
.gallery__item--2 { background-image: url('../images/gallery2.jpg'); }
.gallery__item--3 { background-image: url('../images/gallery3.jpg'); }
.gallery__item--4 { background-image: url('../images/gallery4.jpg'); }
.gallery__invisible { display: none; }

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpTransform {
  from {
    opacity: 0;
    top: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }
}