@charset "utf-8";
/* CSS Reset */
html, body, div, p, span, strong, b, em, iframe, pre, h1, h2, h3, h4, 
h5, h6, img, dl, dt, dd, fieldset, form, legend, label, table, caption, 
thead, tbody, tfoot, tr, th, td, ul, ol, li, a, input, select, textarea 
{margin: 0;padding: 0; border: 0 none; }
*,
*:before,
*:after { box-sizing: border-box; }
body { font-family: 'Playfair', serif; }
a {
  text-decoration: none;
  color: white;
}
li { list-style-type: none; }
img {
  vertical-align: top;
  max-width: 100%;
}

/* Common */
.l-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  border: 3px solid crimson;
}
.l-row:after,
.clearfix:after{
  content: " ";
  display: block;
  clear: both;
}
.l-row {
  width: calc(80vw/2);
  margin: 0 auto;
}
.l-col {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 10px;
}
header {
  border: 3px solid skyblue;
}
nav {
  border: 3px solid blue;
}
main {
  border: 3px solid yellow;
}
footer {
  border: 3px solid steelblue;
}

/* Fonts */
@font-face {
  font-family: 'Coluna';
  src: url('../fonts/Coluna.woff') format('woff');
}
@font-face {
  font-family: 'Playfair';
  src: url('../fonts/PlayfairDisplay.woff') format('woff');
}
@font-face {
  font-family: 'Anton';
  src: url('../fonts/Anton.woff') format('woff');
}
@font-face {
  font-family: 'Abril Fatface';
  src: url('../fonts/AbrilFatface.woff') format('woff');
}
@font-face {
  font-family: 'IM Fell Double Pica SC';
  src: url('../fonts/IMFellDoublePicaSC.woff') format('woff');
}

/* Components */
.header__inside {
  position: relative;
  width: 100%;
  z-index: 1;
  color: white;
  height: 10vh;
}
.header__inside nav { overflow: hidden; }
.header__menu {
  position: relative;
  float: right;
  display: block;
  overflow: hidden;
}
.header__menu li { float: left; }
.header__menu li a {
  display: inline-block;
  padding: 0 30px;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
  margin-right: 40px;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}
.header__menu li a:after {
  content: " ";
  display: block;
  margin-top: -10px;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.5s;
}
.header__menu li a:hover:after { width: 100%; }

.footer__inside {
  position: relative;
  width: 100%;
  text-align: center;
  height: 10vh;
}
.footer__copyright {
  position: absolute;
  color: rgba(255,255,255,0.7);
  z-index: 2;
  left: 0;
  bottom: 5%;
  width: 100%;
  font-size: 14px;
}

/* Variables */
:root {
  --bg-color: #151516;
}