body {
  background: url('../images/home.jpg') no-repeat center;
  background-size: cover;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}

.main__inside {
  height: 80vh;
}
.main__inside h1 {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  color: white;
  font-family: 'Coluna';
  font-size: 200px;
  text-shadow: 0 10px 5px black;
}
.main__inside h1:after {
  content: 'JOAQUIN PHOENIX';
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Playfair', serif;
  font-size: 0.2em;
  white-space: nowrap;
  text-shadow: none;
  font-weight: 200;
  color: whitesmoke;
}

.aside__inside { float: left; border: 3px solid orange; }
.aside__nav { float: left; }
.aside__nav ul li { float: left; }
.aside__nav ul li a {
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
}
.aside__inside nav ul li a img {
  width: 36px;
  height: 36px;
}
.aside__inside nav ul li a:last-child { margin-right: 0; }

/* Media Query */

@media(max-width: 576px) {
  .main__inside h1 {
    font-size: 100px;
  }
}