/* Variables */


html,body { background-color: var(--bg-color); }

.main__inside { padding: 40px 0 0; }
.main__line {
  width: 50%;
  height: 5px;
  background-color: white;
  margin: 50px auto;
}

.score {
  margin-bottom: 50px;
  text-align: center;
}
.score__component {
  display: inline-block;
  margin-right: 50px;
}
.score__logo {
  height: 100px;
  margin-right: 10px;
}
.score__title {
  display: inline-block;
  color: white;
  font-size: 100px;
  line-height: 1;
}

.review__component {
  --border-color: rgb(202, 69, 96);
  position: relative;
  width: 80%;
  margin: 0 auto;
  border: 5px solid var(--border-color);
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 150px;
  font-size: 40px;
  opacity: 0;
}
.review__component.active {
  animation: 1s fadeInLeft 0s both;
}
.review__contents {
  position: relative;
  color: white;
  font-family: 'IM Fell Double Pica SC', serif;
}
.review__contents:before {
  content: " ";
  position: absolute;
  left: 5%;
  bottom: -16px;
  width: 150px;
  border: 6px solid var(--bg-color);
}
.review__contents:after {
  content: " ";
  position: absolute;
  left: 4%;
  bottom: -70px;
  width: 80px;
  height: 60px;
  border: 5px solid var(--border-color);
  border-radius: 0 50px 0 0;
  border-left: none;
  border-bottom: none;
}
.review__contents span { color: crimson; }
.review__person,
.review__source {
  position: absolute;
}
.review__person {
  left: calc(4% + 120px);
  color: white;
  font-size: 0.7em;
  font-style: italic;
  bottom: -60px;
  color: orange;
}
.review__date {
  opacity: 0.8;
  color: rgba(255,255,255,0.7);
}
.review__source {
  display: block;
  width: 50px;
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
}
.review__form {
  width: 80%;
  font-family: 'IM Fell Double Pica SC', serif;
  color: white;
  margin: 0 auto;
}
.review__form input {
  outline: none;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
  border: 3px solid white;
  font-family: 'Playfair', serif;
  font-size: 20px;
  color: white;
  height: 50px;
}
.review__form input::placeholder {
  color: rgba(255,255,255,0.7);
}
.review__form button {
  position: relative;
  padding: 10px;
  font-size: 20px;
  font-family: 'Playfair', serif;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  height: 50px;
  transition: all 0.5s;
}
.review__form textarea {
  width: 100%;
  height: 200px;
  border: 3px solid white;
  font-family: 'IM Fell Double Pica SC', serif;
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
  color: white;
  font-size: 30px;
  outline: none;
  margin-bottom: 15px;
}
.review__form textarea::placeholder {
  font-size: 30px;
  color: rgba(255,255,255,0.7);
}
.review__loader { display: none; }

/* Animation */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Media Query */
@media(max-width: 1200px) {
  .score__logo { height: 70px; }
  .score__title { font-size: 70px; }
}

/* Loader */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: black;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 1s infinite ease 1.5s;
  animation: load2 1s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: black;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 1s infinite ease;
  animation: load2 1s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}